{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/tech.css' %}">
</head>
  <div class="row">
    <aside class="col-12 col-md-2">
    </aside>
    <aside class="col-12 col-md-8" align="left">
      <h2>При работе над этим проектом я изучила:</h2>
      <br><br>
      <ul class="list-group list-group-flush" align="center">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">SQL</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">Unittest</li>
        <li class="list-group-item">Pythonanywhere</li>
      </ul>
    </aside>

    <article class="col-12 col-md-2">
      <p></p>
    </article>
  </div>
{% endblock %}