{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Записи сообщества {{ group.title }}{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ group.title }}</h1>
    {% if group.description is not  None %}
      <p>{{ group.description|linebreaksbr }}</p>
    {% endif %}
    {% for post in page_obj %}
    {% include 'posts/includes/post_list.html' %}
      {% if post.group %}
        <a href="{% url 'posts:main_page' %}">Вернуться на главную страницу</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
{% endblock %}